add함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 더하는 메서드
"+" 연산과 차이점
fill_value 인수를 통해 계산 불가한 값을 채워 넣는다는 것

기본 사용법
df.add(other, axis='columns', level=None, fill_value=None)
other : 데이터프레임이나, Series, 스칼라 등 더할 데이터 값
axis : 더할 레이블을 설정합니다. 0은 index, 1은 column ※Series일 경우 Index와 일치시킬 축
level : multiIndex에서 계산할 Index의 레벨
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체

In [1]:
import pandas as pd

In [2]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [3]:
result = df.add(1)
print(result)
result = df+1
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301
      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [4]:
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [5]:
result = df.add(df2)
print(result)

      col1  col2  col3
row1     4   NaN   NaN
row2     6   NaN   NaN
row3     8   NaN   NaN

In [6]:
result = df.add(df2,fill_value=0)
print(result)

      col1  col2   col3
row1     4  10.0  100.0
row2     6  20.0  200.0
row3     8  30.0  300.0

sub함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 빼는 메서드
기본 사용법
df.sub(other, axis='columns', level=None, fill_value=None)

In [7]:
result = df.sub(1)
print(result)
result = df-1
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299
      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [8]:
result = df.sub(df2,fill_value=0)
print(result)

      col1  col2   col3
row1    -2  10.0  100.0
row2    -2  20.0  200.0
row3    -2  30.0  300.0

mul함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 곱하는 메서드

In [9]:
result = df.mul(2)
print(result)
result = df*2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600
      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [10]:
result = df.mul(df2,fill_value=1)
print(result)

      col1  col2   col3
row1     3  10.0  100.0
row2     8  20.0  200.0
row3    15  30.0  300.0

div함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 나누는 메서드

In [11]:
result = df.div(2)
print(result)
result = df/2
print(result)

      col1  col2   col3
row1   0.5   5.0   50.0
row2   1.0  10.0  100.0
row3   1.5  15.0  150.0
      col1  col2   col3
row1   0.5   5.0   50.0
row2   1.0  10.0  100.0
row3   1.5  15.0  150.0

In [12]:
data3  = [[0],[2],[3]]
df3 = pd.DataFrame(data=data3,index=['row1','row2','row3'],columns=['col1'])
print(df3)

      col1
row1     0
row2     2
row3     3

In [13]:
result = df.div(df3,fill_value=1)
print(result)

      col1  col2   col3
row1   inf  10.0  100.0
row2   1.0  20.0  200.0
row3   1.0  30.0  300.0

mod함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 나눴을때의 나머지를 반환하는 메서드
% 연산과 동일

In [14]:
result = df.mod(7)
print(result)
result = df%7
print(result)

      col1  col2  col3
row1     1     3     2
row2     2     6     4
row3     3     2     6
      col1  col2  col3
row1     1     3     2
row2     2     6     4
row3     3     2     6

In [15]:
result = df.mod(df2,fill_value=1)
print(result)

      col1  col2  col3
row1     1   0.0   0.0
row2     2   0.0   0.0
row3     3   0.0   0.0

pow함수
DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 거듭제곱
** 연산과 동일

In [16]:
result = df.pow(3)
print(result)
result = df**3
print(result)

      col1   col2      col3
row1     1   1000   1000000
row2     8   8000   8000000
row3    27  27000  27000000
      col1   col2      col3
row1     1   1000   1000000
row2     8   8000   8000000
row3    27  27000  27000000

In [17]:
result = df.pow(df3,fill_value=0)
print(result)

      col1  col2  col3
row1     1   1.0   1.0
row2     4   1.0   1.0
row3    27   1.0   1.0

#### 행렬곱
     col1 col2                col1 col2                  col1   col2<br>
row1    A    B     x     row1    a    b     =     row1  Aa+bc  Ab+Bd<br>
row2    C    D           row2    c    d           row2  Ca+Dc  Cb+Dd<br>
### 기본 사용법
df.dot(other)

In [18]:
col = ['col1','col2']
row = ['row1','row2']
data1 = [[1,2],[3,4]]
data2 = [[5,6],[7,8]]
df1 = pd.DataFrame(data=data1)
df2 = pd.DataFrame(data=data2)
print(df1)
print(df2)

   0  1
0  1  2
1  3  4
   0  1
0  5  6
1  7  8

In [19]:
df3 = df1.dot(df2)
print(df3)

    0   1
0  19  22
1  43  50